body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url(../IMG/pexels-fauxels-3184328.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}

.speakers-intro {
    height: 300px;
}

.speakers-intro p {
    width: 50%;
}

/* .london {
    width: 350px;
} */